/* common code ------------------------------------------------ */
*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
p{
    padding-left: 15px;
    padding-right: 15px;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 90px;
    opacity: 0.7;
}
/* Style the links inside the navigation bar */
details{
    visibility: hidden;
}
nav{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: #333;
    height: 100%;
    width: 100%;
}

nav ul{
    text-decoration: none;
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li #a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
}
nav ul li #a.active, #a:hover{
    background: #4CAF50;
    transition: .5s;
    box-shadow: -2.5px -2.5px #4caf4f95;
}
nav ul li #a:hover{
    background: #4CAF50;
    transition: .5s;
    box-shadow: 5px 5px #4caf4f95;
}
.mobidetail{
    visibility: hidden;
    display: none;
}
#menu{
    visibility: hidden;
}
.mobidetailac{
    visibility: hidden;
    display: none;
}
/*---------------- footer -------------------*/
#footer{
    padding: 0px 30px 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #333;
    line-height: 24px;
}
.b{
    color: aliceblue;
    text-decoration: none;
}

.b:hover{
    color: #04AA6D;
}
/* --------------------------------------------*/
/* image styling */
#img{
    border-radius: 5%;
    padding: 5px; 
    margin:5px
}

/* flex grids */
#hdiv3{
    flex:2;
}

#wrapper{
    display: flex;
}

#right-content{
    flex:1;
}
/* --------------------- nav bar mobile view -------------------*/
@media all and (max-width: 968px) {
    details{
        visibility: visible;
        background: #333;
        height: 5.5rem;
    }
    details > summary{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        cursor: pointer;
        list-style: none;  
        
    }
    details > summary::after{
        content: url(../images/menu_icon.png);
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        transition: content 0.3 ease;
    }
    details[open] > summary::after{
        transition: 3s;
        content: url(../images/close_nav.png);
    }
    details[open] > nav{
        height: 414px;
        border-top: #04AA6D 5px solid;
        transition: .4s;
        border-radius: 5px;
    }
    details > summary::-webkit-details-marker{
        display: none;
    }
    .mobidetail{
        visibility: visible;
        display: block;
    }
    .lap{
        visibility: hidden;
        display: none;
    }
    nav ul{
        margin-right: 0px;
        float:left;
    }
    nav .logo{
        padding-left: 0px;
        width: 100%-3%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        float: none;
        visibility: visible;
    }
    #menu{
        float: right;
        visibility: visible;
        display: block;
        cursor: pointer;
    }
    .centered{
        visibility: hidden;
    }
    
}
/* ------------------------------------------------------------ */

/*------------------- moblie nav for activity page --------------*/
@media all and (max-width: 968px) {
    .mobidetailac{
        visibility: visible;
        display: block;
        background: #333;
        height: 5.5rem;
    }
    .mobidetailac > summary{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        cursor: pointer;
        list-style: none;  
        
    }
    .mobidetailac > summary::after{
        content: url(../images/menu_icon.png);
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        transition: content 0.3 ease;
    }
    .mobidetailac[open] > summary::after{
        transition: 3s;
        content: url(../images/close_nav.png);
    }
    .mobidetailac[open] > nav{
        height: 480px;
        border-top: #04AA6D 5px solid;
        transition: .4s;
        border-radius: 5px;
    }
    .mobidetailac > summary::-webkit-details-marker{
        display: none;
    }
    .mobidetailac{
        visibility: visible;
        display: block;
    }
    .lap{
        visibility: hidden;
        display: none;
    }
    .moblie ul{
        margin-right: 0px;
        float:left;
    }
    .moblie .logo{
        padding-left: 0px;
        width: 100%-3%;
    }
    .moblie ul li, .moblie ul ul li{
        display: block;
        width: 100%;
    }
    .moblie ul ul{
        top: 70px;
        position: static;
        float: none;
        visibility: visible;
    }
    #menu{
        float: right;
        visibility: visible;
        display: block;
        cursor: pointer;
    }
    .centered{
        visibility: hidden;
    }
    
}
/* ------------------------------------------------------------ */

/* --------------------- mobile view --------------------------*/
@media (max-width: 900px) {
    #img{
        width: 100%;
        height: 100%;
    }
    #wrapper {
        flex-direction: column;  
        height: 100%;  
    }
    #right-content {
        display: flex;
    }

    #section-id {
        flex: 1;   
    }
    *{
        font-size: 22px;
        padding: 4px;
    }
    .img-banner{
        display: none;
    }
    #img{
        width: 100%;
        height: 100%;
    }

    #wp{
        margin: auto;
        width: 90%;
        padding: 10px;
    }
    #homepage{
        padding-left: 0;
    }
    .centered{
        visibility: hidden;
        opacity: 0;
    }
}

/* ------------------------------------------------------------ */



/* ---------------------- homepage ----------------------------- */
#homepage{
    padding-left:10px;
}

#hdiv4{
    padding: 5px;
}

#li4{
    padding: 1cm;
    margin: 0;
}
.burger-nav{
    display: none;
}
/* ------------------------------------------------------------- */


/* ---------------------- Wildlife ----------------------------- */
/* table styling for wild life page */
@media (min-width: 1080px) {
    #img-map{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

table, th, td{
    padding: 5px;
    border: 1px solid black;
}

table{
    width:100%;
}

td{
    font-size: 22px;
    width: 900px;
}

th{
    font-size: 33px;
}

/* moblile view for wild life page */
@media (max-width: 900px) {
    td{
        width: 300px;
    }

    #td_img{
        width: 200px;
        height: 200px;
    }
    #footer{
        width: 100%-3%;
    }
    #img-map{
        width: 450px;
    }
    #name3{
        overflow: scroll;
    }
    *{
        padding: 0;
        margin: 0;
    }
}
/* ------------------------------------------------------------- */


/* ---------------------- beaches ---------------- */
#beaches{
    padding-left: 0px;
}

/* button styling */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }

.buttondiv{
    text-align: center;
}
/* ------------------------------------------------------------- */